Blog Automation.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "abcdabcd",
      "name": "When chat message received",
      "webhookId": "abcdabcd"
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "engine",
              "value": "google_news"
            },
            {
              "name": "q",
              "value": "={{ $json.chatInput }}"
            },
            {
              "name": "gl",
              "value": "us"
            },
            {
              "name": "hl",
              "value": "en"
            },
            {
              "name": "api_key",
              "value": "abcdabcd"
            },
            {
              "name": " json_restrictor",
              "value": "news_results[].{title,link}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        0
      ],
      "id": "abcdabcd",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "fieldToSplitOut": "news_results",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "abcdabcd",
      "name": "Split Out"
    },
    {
      "parameters": {
        "maxItems": 2
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        800,
        0
      ],
      "id": "abcdabcd",
      "name": "Limit"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "abcdabcd",
              "leftValue": "={{ $json.link }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "abcdabcd",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        608,
        0
      ],
      "id": "abcdabcd",
      "name": "Filter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        976,
        16
      ],
      "id": "abcdabcd",
      "name": "Loop Over Items",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ $json.link }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1184,
        112
      ],
      "id": "abcdabcd",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "jsCode": "// Load the HTML string\nconst html = $input.first().json.data;\n\n// A lightweight HTML-to-text conversion using regex and decoding\n// For more robust extraction, you could use a library like \"cheerio\" (if available)\n\nfunction extractTextFromHTML(html) {\n  // Remove script and style tags and their content\n  let text = html.replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n                 .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '');\n  \n  // Remove all HTML tags\n  text = text.replace(/<\\/?[^>]+(>|$)/g, '');\n\n  // Decode HTML entities\n  text = text.replace(/&nbsp;/g, ' ')\n             .replace(/&amp;/g, '&')\n             .replace(/&quot;/g, '\"')\n             .replace(/&#39;/g, \"'\")\n             .replace(/&lt;/g, '<')\n             .replace(/&gt;/g, '>')\n             .replace(/\\s+/g, ' ') // collapse extra spaces\n             .trim();\n\n  return text;\n}\n\nconst articleText = extractTextFromHTML(html);\n\n// Return the clean text so it can be used by next nodes\nreturn [\n  {\n    json: {\n      text: articleText\n    }\n  }\n];\n",
        "options": {}
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1392,
        112
      ],
      "id": "abcdabcd",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write a well structured article as a professional writer. Using this data\n\nArticle Data:\nTitle: {{ $('Loop Over Items').item.json.title }}\nArticle Link: {{ $('Loop Over Items').item.json.link }}\nLink Output for Information reference: {{ $json.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1600,
        112
      ],
      "id": "abcdabcd",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1472,
        208
      ],
      "id": "abcdabcd",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "abcdabcd",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "folderId": "default",
        "title": "=Generated Doc 1 {{ $now }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1952,
        112
      ],
      "id": "abcdabcd",
      "name": "Create a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "abcdabcd",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('AI Agent').item.json.output }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        2160,
        112
      ],
      "id": "abcdabcd",
      "name": "Update a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "abcdabcd",
          "name": "Google Docs account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Create a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a document": {
      "main": [
        [
          {
            "node": "Update a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a document": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "abcdabcd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "abcdabcd"
  },
  "id": "abcdabcd",
  "tags": [
    {
      "updatedAt": "2025-11-10T21:05:39.910Z",
      "createdAt": "2025-11-10T21:05:39.910Z",
      "id": "abcdabcd",
      "name": "Blog Automation"
    }
  ]
}